.env
todo.md

**/.env*
local.settings.json
**/__pycache__/
**/local.settings.json

*.json
**/__pycache__/


# all .DS_Store files in folders o subfolders
**/.DS_Store

05-PhoneAgent/
06-Routing/
07-OpenSource/
08-RAG-Assistant/


# incluir el .env.example
!.env.example
