.env
todo.md

**/.env*
local.settings.json
**/__pycache__/
**/local.settings.json

*.json
**/__pycache__/


02-VisionApp/
03-Agent/
04-EmbeddedAgent/

# all .DS_Store files in folders o subfolders
**/.DS_Store
