OPENAI_API_KEY

AIRTABLE_API_KEY
AIRTABLE_BASE_ID
AIRTABLE_CITAS_TABLE_NAME
AIRTABLE_CLIENTES_TABLE_NAME
AIRTABLE_CONTRATOS_TABLE_NAME

SMTP_APP_PASSWORD

TWILIO_ACCOUNT_SID
TWILIO_AUTH_TOKEN
TWILIO_PHONE_NUMBER
